body{
    background-color: white;}
    
    
    /* COLOR NAVBAR menu celu*/
    .custom-navbar-toggler {
        background-color: rgb(190, 188, 188); /* Cambia el color del texto */
    }
    
    /* COLOR NAVBAR*/
    .navbar{
        background-color: black;
    }
    
    
    /* cambio color letras navbar*/
    #white{
    color: gray;}
    
    #white:hover{color: white;
        transform: translateY(-2px);
    transition: 0.3s;}
    
    /* Movimiento del logo 
    #logoP:hover{}*/
    
    
    /* formato footer*/
    footer{background-color: black;
    position: relative;
    width: 100%;
    height: 100px;
    bottom: 0;}
    
    /* editar contenido del footer*/
    .footer{
            color: white;
            display: flex;
            justify-content: center;
            gap: 20px;
            
    }
    /* editar iconos footer*/
    .footer a{font-size: 25px;}
    
    /* Edit iconos*/
    .icono1{}
    .icono1:hover{color: rgb(40, 29, 189);
        transform: scale(1.2);
        transition: 0.6s;}
    
    .icono2{color: green;}
    .icono2:hover{color: rgb(1, 80, 1);
        transform: scale(1.2);
        transition: 0.6s;}
    
    .icono3{color: rgb(170, 167, 167);}
    .icono3:hover{color: rgb(139, 137, 137);
        transform: scale(1.2);
        transition: 0.6s;}



img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen al tamaño del contenedor */
    height: auto; /* Permite que la imagen se ajuste proporcionalmente */
    display: block; /* Elimina espacios verticales alineando las imágenes */
}
  /* Establece un tamaño específico para todas las imágenes */
.fixed-size {
    width: 200px; /* Ancho fijo */
    height: 150px; /* Altura fija */
    border-radius: 3px;  
}

.card{
    height: 380px;
    color: gray;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border: 2px solid #3C3C41;
    margin-bottom: 10px;
    background-image: linear-gradient(#010A13,#1E282D,#1E2328)}
.card:hover{transform: translateY(-10px);
transition: 0.6s;}


.iframe-container {
    
    position: relative;
    width: 50%; /* Ajusta el tamaño del contenedor según tus necesidades */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    overflow: hidden; /* Evita que el iframe sobresalga del contenedor */
}
            
.iframe-container iframe {
    
    margin-bottom: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}
@media screen and (max-width: 768px) {
    .iframe-container {
    width: 90%; /* Reducir el tamaño del contenedor en pantallas más pequeñas */
}
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: black;
    border: solid 1px #c3c3c3;
    color: gray;
    position: absolute;
    z-index: 9999;
}

#flip{
    width: 30px;
    height: 35px;
    position: relative;
    
    
}

#panel {
    padding: 1px;
    display: none;
    margin: 0;
    width: 50px;
}

a{text-decoration: none;
color: gray;}