body{
    background-color: white;
}
.navbar{
    background-image: linear-gradient(#010A13,#1E282D,#1E2328);

}
/* COLOR NAVBAR menu celu*/
.custom-navbar-toggler {
    background-color: rgb(190, 188, 188); /* Cambia el color del texto */
}




/* cambio color letras navbar*/
#white{
    color: white;}

#white:hover{
    color: white;
    transform: translateY(-2px);
    transition: 0.3s;
}

/* Movimiento del logo 
#logoP:hover{}*/

/* formato footer*/
footer{
    background-color: black;
    position: relative;
    width: 100%;
    height: 100px;
    bottom: 0;
}

/* editar contenido del footer*/
.footer{
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* editar iconos footer*/
.footer a{
    font-size: 25px;
}

/* Edit iconos*/
.icono1:hover{
    color: rgb(40, 29, 189);
    transform: scale(1.2);
    transition: 0.6s;
}

.icono2{
    color: green;
}
.icono2:hover{
    color: rgb(1, 80, 1);
    transform: scale(1.2);
    transition: 0.6s;
}

.icono3{
    color: rgb(170, 167, 167);
}
.icono3:hover{
    color: rgb(139, 137, 137);
    transform: scale(1.2);
    transition: 0.6s;
}

/*EDICION CUERPO REGION*/
/*Edición título*/
h3{
    text-align: center;
}
h5{
    margin-top: 3px;
    margin-bottom: 3px;
    
}

/*Edición imagen*/

/*NAVBAR item menu*/
#menu{
    opacity: 0.7;
    position: absolute;
    z-index: 1000;
    margin-left: 20px;
}

#inicio{
    display: flex;
    width: 700px;
    height: auto;
    padding: 0px;
}
/*NAVBAR item menu*/

/*carrusel, titulos y texto*/
#informacion{

    text-align: justify;
    color: gray;
}
#informacion p,h3{
    margin-bottom: 0;
}
#informacion:hover{
    color: black;
    transition: 0.3s;
}

#titulo-car{
    position: absolute;
    
}
.titulo{
    z-index: 1000;
    top: 10px;
    right: auto;
    left: auto;
}
.parrafo{
    width: 75%;
    margin: auto;
}
/*carrusel, titulos y texto*/

/*formato para la disposicion en el bloque general*/
.con-der{
    overflow: auto;
    color: white;
    display: block;
    width: 100%;
    padding: 0.3em;
    align-items: flex-start;
}
.con-izq{
    overflow: auto;
    height: fit-content;
    color: white;
    display: block;
    width: 100%;
    padding: 0.3em;
    align-items: flex-start;
}

/*formato para la disposicion en el bloque general*/
article{
    margin-bottom: 1.5em;
    border: 3px solid gray;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
/*Marco imagen*/
.marco-izq{
    width: 25em;
    height: fit-content;
    float: left;
    display: block;
    padding: 0.15em;
    border: 3px solid gray;
    margin: 0.25em;
    border-radius: 0.5em;
}
.marco-der{
    width: 25em;
    height: fit-content;
    float: right;
    display: block;
    padding: 0.15em;
    border: 3px solid gray;
    margin: 0.25em;
    border-radius: 0.5em;
}

.marco-der img{
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
}
.marco-izq img{
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
}
/*Marco imagen*/

/*parrafos*/
.con-izq:hover{
    color: black;
    transition: 0.5s;
}
.con-der:hover{
    color: black;
    transition: 0.5s;
}
p{
    margin-left: 1.25em;
    margin-right: 1.25em;
    text-align: justify;
}
/*parrafos*/

/*Cambio de tamaño de las imagenes y el texto por el tamaño de la pantalla*/
@media screen and (max-width: 550px){
    .marco-izq{
        width: auto;
        float: none;
        display: block;
        padding: 0.5em;
        border: 3px solid gray;
        border-radius: 0.25em;
    }
    .marco-der{
        width: auto;
        float: none;
        display: block;
        padding: 0.5em;
        border: 3px solid gray;
        border-radius: 0.25em;
    }
    
    .marco-izq img{
        object-fit: contain;
        max-width: 100%;
        height: auto;
    }
    .marco-der img{
        object-fit: contain;
        max-width: 100%;
        height: auto;
    }
    .con-izq{
        display: block;
        color: black;
    }
    .con-der{
        display: block;
        color: black;
    }
}
.tituloPag{font-family: BeaufortforLOL; 
    font-size: 2.5em;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: linear-gradient(#C89B3C,#785A28);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;}

@font-face {
    font-family: BeaufortforLOL;
    src: url(Fonts/BeaufortforLOL-Heavy.ttf);
}
.navbar-toggler-icon{background-color: white;}
.navbar-toggler{background-color: white;}