body{
    background-color: white;
}
.navbar{
    background-image: linear-gradient(#010A13,#1E282D,#1E2328);

}
/* COLOR NAVBAR menu celu*/
.custom-navbar-toggler {
    background-color: rgb(190, 188, 188); /* Cambia el color del texto */
}




/* cambio color letras navbar*/
#white{
    color: gray;
}

#white:hover{
    color: white;
    transform: translateY(-2px);
    transition: 0.3s;
}

/* Movimiento del logo 
#logoP:hover{}*/

/* formato footer*/
footer{
    background-color: black;
    position: relative;
    width: 100%;
    height: 100px;
    bottom: 0;
}

/* editar contenido del footer*/
.footer{
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* editar iconos footer*/
.footer a{
    font-size: 25px;
}

/* Edit iconos*/
.icono1:hover{
    color: rgb(40, 29, 189);
    transform: scale(1.2);
    transition: 0.6s;
}

.icono2{
    color: green;
}
.icono2:hover{
    color: rgb(1, 80, 1);
    transform: scale(1.2);
    transition: 0.6s;
}

.icono3{
    color: rgb(170, 167, 167);
}
.icono3:hover{
    color: rgb(139, 137, 137);
    transform: scale(1.2);
    transition: 0.6s;
}

/*EDICION CUERPO REGION*/
/*Edición título*/
h3{
    text-align: center;
}
h5{
    margin-top: 3px;
    margin-bottom: 3px;
    
}

/*Edición imagen*/

/*NAVBAR item menu*/
#menu{
    opacity: 0.7;
    position: absolute;
    z-index: 1000;
    margin-left: 20px;
}

#inicio{
    display: flex;
    width: 700px;
    height: auto;
    padding: 0px;
}
/*NAVBAR item menu*/

/*carrusel, titulos y texto*/
#informacion{

    text-align: justify;
    color: gray;
}
#informacion p,h3{
    margin-bottom: 0;
}
#informacion:hover{
    color: black;
    transition: 0.3s;
}

#titulo-car{
    position: absolute;
    
}
.titulo{
    z-index: 1000;
    top: 10px;
    right: auto;
    left: auto;
}
.parrafo{
    width: 75%;
    margin: auto;
}
/*carrusel, titulos y texto*/

/*formato para la disposicion en el bloque general*/
.con-izq{
    color: white;
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    padding: 0.3em;
    align-items: flex-start;
}

.con-der{
    color: white;
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    padding: 0.3em;
    align-items: flex-start;
}
/*formato para la disposicion en el bloque general*/
/*Marco imagen*/
.marco{
    display: flex;
    padding: 0.5em;
    border: 3px solid gray;
    margin-top: 0.5em;
    border-radius: 0.25em;
}

.marco img{
    object-fit: contain;
    max-width: 100%;
    height: auto;
}
/*Marco imagen*/

/*parrafos*/
.con-der:hover{
    color: black;
    transition: 0.5s;
}
.con-izq:hover{
    color: black;
    transition: 0.5s;
}
.text1{
    margin-left: 1.25em;
    margin-right: 1.25em;
    text-align: justify;
}
/*parrafos*/