body{
 
}
.container-fluid{
    border: 4px solid black;
}
.navbar-brand{
    margin-left: 20px; 
}
.back1{
    background-color: gray;
    opacity: 0.3;
    
}
.font1{font-family:Verdana, Geneva, Tahoma, sans-serif;}