{% extends 'clients/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styleTipo.css' %}">
<link rel="stylesheet" href="{% static 'css/championCard.css' %}">



<!--FIN HEADER-->


        <div id="flip" style="position: fixed"><i class="fa-solid fa-arrow-right"></i>
            <div id="panel">
                <a  href="#">INICIO</a>
                <a  href="#luchador">LUCHADOR</a>
                <a  href="#mago">MAGO</a>
                <a  href="#asesino">ASESINO</a>
                <a  href="#tanque">TANQUE</a>
                <a  href="#apoyo">APOYO</a>
                <a  href="#tirador">TIRADOR</a>
            </div>
        </div>
        

        <h1 class="champType" id="luchador" style="margin-top: 20px;">LUCHADOR</h1>        
        <div class="container-fluid" id="champions-fighter" style="margin-top: 20px; ">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
        
        
        <h1 class="champType" id="mago">MAGO</h1>
        <div class="container-fluid" id="champions-mage" style="margin-top: 20px; ">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
        
        
        <h1 class="champType" id="asesino">ASESINO</h1>
        <div class="container-fluid" id="champions-assassin" style="margin-top: 20px; ">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>
        
        <h1 class="champType" id="tanque">TANQUE</h1>
        <div class="container-fluid" id="champions-tank" style="margin-top: 20px; ">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>

        
        <h1 class="champType" id="apoyo">SOPORTE</h1>
        <div class="container-fluid" id="champions-support" style="margin-top: 20px; ">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>

        
        <h1 class="champType" id="tirador">TIRADOR</h1>
        <div class="container-fluid" id="champions-marksman" style="margin-top: 20px; ">
            <div class="row">
                <div class="col">
                </div>
            </div>
        </div>

        



    <script src="{% static 'js/campeones.js' %}"></script> 
    {% endblock %}