body{
    background-image: url("/clients/static/img/dragon.jpg");
    height: 100vh;
    }
    
    

form {
        max-width: 400px;
        width: 100%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
}

    
