
body{margin-top: 0;
    padding-top: 0;}


#panel, #flip {
    padding: 5px;
    text-align: center;
    background-image: linear-gradient(#010A13,#1E282D,#1E2328);
    border: solid 1px #c3c3c3;
    color: gray;
    position: absolute;
    z-index: 9999;
}

#flip{
    width: 30px;
    height: 35px;
    position: relative;
    
    
}

#panel {
    padding: 1px;
    display: none;
    margin: 0;
    width: 100px;
}

a{text-decoration: none;
    color: gray;}


.champType{font-family: BeaufortforLOL; 
    font-size: 2.5em;
margin-left: 40px;

background: linear-gradient(#C89B3C,#785A28);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
