body{margin-top: 0;
    padding-top: 0;}


/*carrusel, titulos y texto*/
#informacion{

    text-align: justify;
    color: gray;
}
#informacion p,h3{
    margin-bottom: 0;
}
#informacion:hover{
    color: black;
    transition: 0.3s;
}

#titulo-car{
    position: absolute;
    
}
.titulo{
    z-index: 1000;
    top: 10px;
    right: auto;
    left: auto;
}
.parrafo{
    width: 75%;
    margin: auto;
}
/*carrusel, titulos y texto*/

/*formato para la disposicion en el bloque general*/
.con-der{
    overflow: auto;
    color: white;
    display: block;
    width: 100%;
    padding: 0.3em;
    align-items: flex-start;
}
.con-izq{
    overflow: auto;
    height: fit-content;
    color: white;
    display: block;
    width: 100%;
    padding: 0.3em;
    align-items: flex-start;
}

/*formato para la disposicion en el bloque general*/
article{
    margin-bottom: 1.5em;
    border: 3px solid gray;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
/*Marco imagen*/
.marco-izq{
    width: 25em;
    height: fit-content;
    float: left;
    display: block;
    padding: 0.15em;
    border: 3px solid gray;
    margin: 0.25em;
    border-radius: 0.5em;
}
.marco-der{
    width: 25em;
    height: fit-content;
    float: right;
    display: block;
    padding: 0.15em;
    border: 3px solid gray;
    margin: 0.25em;
    border-radius: 0.5em;
}

.marco-der img{
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
}
.marco-izq img{
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
}
/*Marco imagen*/

/*parrafos*/
.con-izq:hover{
    color: black;
    transition: 0.5s;
}
.con-der:hover{
    color: black;
    transition: 0.5s;
}
p{
    margin-left: 1.25em;
    margin-right: 1.25em;
    text-align: justify;
    font-family: BeaufortforLOL3;
}
/*parrafos*/
a{text-decoration: none;
}

h5 {font-family: BeaufortforLOL3;
color: black;
}
article h3{font-family: BeaufortforLOL3;
    
}

/*Cambio de tamaño de las imagenes y el texto por el tamaño de la pantalla*/
@media screen and (max-width: 550px){
    .marco-izq{
        width: auto;
        float: none;
        display: block;
        padding: 0.5em;
        border: 3px solid gray;
        border-radius: 0.25em;
    }
    .marco-der{
        width: auto;
        float: none;
        display: block;
        padding: 0.5em;
        border: 3px solid gray;
        border-radius: 0.25em;
    }
    
    .marco-izq img{
        object-fit: contain;
        max-width: 100%;
        height: auto;
    }
    .marco-der img{
        object-fit: contain;
        max-width: 100%;
        height: auto;
    }
    .con-izq{
        display: block;
        color: black;
    }
    .con-der{
        display: block;
        color: black;
    }
}



